/* This file appears to be a CSS file containing styling information for the DharmaBot UI interface. It defines variables for foreground and background colors based on light and dark color schemes, and sets global styles for body elements like color and background gradients. The purpose of this file is to control the visual appearance of the DharmaBot UI interface, ensuring a consistent and user-friendly design. */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add any additional global styles below */
.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
}

.resizer:hover {
  background-color: #999;
}